.wrapper {
  padding: 20px 0 10px 30px;
}
.action {
  margin-top: 20px;
}

.wrapper-select {
  margin-top: 10px;
}
.select-form {
  width: 40%;
  display: block;
  padding: 12px 0 12px 10px;
  border: 1.5px solid #dee3e9;
  border-radius: 5px;
  outline: none;

  font-size: 1.4rem;
  background-color: transparent;
}
